
<div class="container border border-dark bg-light text-dark">



  <h1 style="text-align: center;">Payment Form</h1>
 
  <div class="row g-5">
 
  <div class="col">
 
   <br>
 
   <label style="font-weight:bold">Receiver Name</label>
 
   <input type="text" class="form-control" placeholder="First name" aria-label="First name" (input)="onInputReceiverName($event)">
 
   <label style="font-weight:bold">Payment Date</label>
 
   <input type="date" class="form-control" placeholder="DD/MM/YYYY" aria-label="Payment Date" (input)="onInputPaymentDate($event)">
 
   <label style="font-weight:bold">Amount</label>
 
   <input type="number" class="form-control" placeholder="Amount" aria-label="Amount" (input)="onInputAmount($event)">
 
  </div>
 
  <div class="col">
 
   <br>
 
   <label style="font-weight:bold">Receiver Name</label>
 
   <div class="form-outline">
 
    <label readonly>{{userInput1 | titlecase}}</label>
 
   </div>
 
   <br>
 
   <label style="font-weight:bold">Payment Date</label>
 
   <div class="form-outline">
 
    <label readonly>{{userInput2 | date}}</label>
 
   </div>
 
   <br>
 
   <label style="font-weight:bold">Amount</label>
 
   <div class="form-outline">
 
    <label readonly>{{userInput3 | currency:'INR'}}</label>
 
   </div>
 
   <br>
 
  </div>
 
 </div>
 
 </div>

